.occupation-list {
  display: flex;
  margin-right: -30px;
}
.occupation-list__item {
  position: relative;
  flex-basis: calc ((100 - 90px) / 3);
  margin-right: 30px;
}
.occupation-list-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
.occupation-list-wrapper-text {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;
}
