.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  margin-right: -30px;
}
.team-list__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-right: 30px;
}
.secondary-team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  margin-bottom: 16px;
}
.team-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list__icon {
  fill: currentColor;
}
.team-list__link_theme-light {
  background-color: #ffffff;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__links:hover,
.social-list__links:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
