.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 100vw;
  // height: -10vh;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  max-height: 609px;
}
@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
