h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
